@import "compass_twitter_bootstrap";

#container{ position:relative; width:990px; margin:50px auto;  }

canvas#board{ border:1px solid #000; position:absolute; left:50px;  }

#answer{ position:absolute; top:150px; left:250px; display:none;  }
